snippet use-typography
	@use '~@chewy/kib-css-helpers/src/kib-typography';

snippet use-sass-lib
	@use '~@chewy/kib-core/src/sass-lib' as *;

snippet use-color
	@use '~@chewy/kib-foundations/src/color';

snippet use-layout
	@use '~@chewy/kib-layout-styles/src/styles' as kib-layout;
